@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-engine-bg: #0f1115;
  --color-engine-panel: #1a1d23;
  --color-engine-border: #2d3139;
  --color-engine-accent: #6366f1;
  --color-engine-text: #e2e8f0;
  --color-engine-text-muted: #94a3b8;
}

@layer base {
  body {
    @apply bg-engine-bg text-engine-text font-sans overflow-hidden antialiased;
    user-select: none;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-engine-border rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-engine-text-muted;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .prism-editor textarea {
    outline: none !important;
  }

  .custom-editor-container {
    background-color: #1e1e1e;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #6a9955;
  }

  .token.punctuation {
    color: #d4d4d4;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #b5cea8;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #ce9178;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #d4d4d4;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #569cd6;
  }

  .token.function,
  .token.class-name {
    color: #dcdcaa;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #9cdcfe;
  }
}
